h2 {
    color:blue;
    margin: 3px;
    text-align: center;
}
.grid-container{
    border: 5px solid black;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, minmax(0,1fr));
}
.head-image{
    grid-column: 1 / 13;
    order: -1;
}
.intro{
    grid-column: 1 / 13;
    order: 1;
}
.game-list{
    grid-column: 1 / 13;
    order: 0;
}   
.xeno-1{
    grid-column: 1 / 7;
    order: 2;
}
.xeno-x{
    grid-column: 7 / 13;
    order: 3;
}
.xeno-2{
    grid-column: 1 / 7;
    order: 4;
}
.xeno-3{
    grid-column: 7 / 13;
    order: 5;
}
.where-to-play{
    grid-column: 1 / 13;
    order: 6;
}
.fav-game{
    grid-column: 1 / 13;
    order: 7;
}
.haed{
    color:brown;
    list-style: none;
}
table {
    border: 1px solid black;
    background-color: blueviolet;
    color:rgb(30, 255, 255);
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
td, th{
    border: 1px solid black;
    padding: 5px;
}
div {
    border: 0px solid black;
    padding: 10px;
    text-align: center;
    width: auto;
}
body{
    background-image: url("blueskyclouds.jpg") ;
    background-repeat: repeat;
    background-color: #cccccc;
    background-size: cover;
}
blockquote > p,cite {
    color:orchid;
    clear: right;
}
form:hover{
    background-color: rgb(66, 196, 213);
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 600px){
    .xeno-1{
        grid-column: 1 / 13;
        order: 2;
    }
    .xeno-x{
        grid-column: 1 / 13;
        order: 3;
    }
    .xeno-2{
        grid-column: 1 / 13;
        order: 4;
    }
    .xeno-3{
        grid-column: 1 / 13;
        order: 5;
    }
}
@media screen and (min-width: 600px) {
    .haed{
    display: flex;
    list-style: none;   
    } 
}
